In [1]:
# import libraries
import pandas as pd

# load the dataset
books_df = pd.read_csv('data/books/books.csv', low_memory=False)

# quick preview
books_df.head(5)

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
2,2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
3,3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],NaN,NaN,NaN
4,4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],sudbury,ontario,canada

In [2]:
# 
books_df['rating'].value_counts(bins = 10).sort_index()

(-0.011, 1.0]    648804
(1.0, 2.0]         2375
(2.0, 3.0]         5118
(3.0, 4.0]         7617
(4.0, 5.0]        45355
(5.0, 6.0]        31689
(6.0, 7.0]        66404
(7.0, 8.0]        91806
(8.0, 9.0]        60780
(9.0, 10.0]       71227
Name: rating, dtype: int64

In [3]:
# weird value?
books_df[books_df['rating'] < 0]

Empty DataFrame
Columns: [Unnamed: 0, user_id, location, age, isbn, rating, book_title, book_author, year_of_publication, publisher, img_s, img_m, img_l, Summary, Language, Category, city, state, country]
Index: []

In [7]:
# calculate average
avg_rating_df = books_df[['book_title', 'rating']].groupby(['book_title']).mean()
avg_rating_df = avg_rating_df.sort_values('rating', ascending=False)
avg_rating_df.head(10)

                                                    rating
book_title
Sherlock Holmes and the Titanic Tragedy: A Case...    10.0
Le Roman inachevÃ?Â©                                  10.0
Praise of Folly and Letter to Maarten Van Dorp ...    10.0
Electric Mischief: Battery-Powered Gadgets Kids...    10.0
Back to the Light. Zur Aktion Kinderfreundliche...    10.0
I Just Got A Puppy, What Do I Do? : How to Buy,...    10.0
Darwinism Evolving: Systems Dynamics and the Ge...    10.0
I Killed Charles Bronson's Cat                        10.0
Conversations With the Goddess: Revealing the D...    10.0
Darwin: The Life of a Tormented Evolutionist          10.0

In [10]:
# calculate average with count
avg_rating_df = books_df.groupby(['book_title'])['rating'].agg(['mean', 'count'])
avg_rating_df.rename(columns={'mean': 'vote_average', 'count': 'vote_count'}, inplace=True)
avg_rating_df.sort_values('vote_average', ascending=False).head(10)

                                                    vote_average  vote_count
book_title
Sherlock Holmes and the Titanic Tragedy: A Case...          10.0           1
Le Roman inachevÃ?Â©                                        10.0           1
Praise of Folly and Letter to Maarten Van Dorp ...          10.0           1
Electric Mischief: Battery-Powered Gadgets Kids...          10.0           1
Back to the Light. Zur Aktion Kinderfreundliche...          10.0           1
I Just Got A Puppy, What Do I Do? : How to Buy,...          10.0           1
Darwinism Evolving: Systems Dynamics and the Ge...          10.0           1
I Killed Charles Bronson's Cat                              10.0           1
Conversations With the Goddess: Revealing the D...          10.0           1
Darwin: The Life of a Tormented Evolutionist                10.0           1

In [18]:
# C is the mean vote or rating across the whole dataframe
C = avg_rating_df['vote_average'].mean()

# m is the minimum votes or ratings to be listed
m = avg_rating_df['vote_count'].quantile(0.90)
m

# new data frame (redundant)
q_books = avg_rating_df.copy().loc[avg_rating_df['vote_count'] > m]
q_books.head(5)

                                                    vote_average  vote_count
book_title
 Earth Prayers From around the World: 365 Praye...      5.000000          10
 Good Wives: Image and Reality in the Lives of ...      3.200000          10
 Goosebumps Monster Edition 1: Welcome to Dead ...      2.222222           9
 Murder of a Sleeping Beauty (Scumble River Mys...      3.181818          11
 Q-Space (Star Trek The Next Generation, Book 47)       1.941176          17

In [19]:
# weight function
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [25]:
# check the new scores
avg_rating_df2 = avg_rating_df.copy().loc[avg_rating_df['vote_count'] >= m]
avg_rating_df2['score'] = avg_rating_df2.apply(weighted_rating, axis=1)
avg_rating_df2.sort_values('score', ascending=False).head(10)

,vote_average,vote_count,score
book_title,,,
Free,8.017857,56,7.448099
The Stand (The Complete and Uncut Edition),6.175439,57,5.816097
Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428,5.805127
Harry Potter and the Goblet of Fire (Book 4),5.824289,387,5.772158
Griffin & Sabine: An Extraordinary Correspondence,6.041667,72,5.762408
The Little Prince,5.815603,141,5.677231
Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278,5.667474
The Hobbit,5.700000,80,5.473910
Harry Potter and the Order of the Phoenix (Book 5),5.501441,347,5.449803
The Cat in the Hat,5.754717,53,5.420504